{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 px-md-4">
                <form>
                    <div class="row">
                        <div class="form-floating mx-auto p-2">
                            <textarea class="form-control" placeholder="Chiedi quello che vuoi" id="userMessage"></textarea>
                            <label for="userMessage">How can I help you? You can ask me about your contacts, emails, messages and more...</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-end">
                            <button type="submit" class="btn btn-dark" id="sendUserMessageBtn">Send</button>
                        </div>
                    </div>
                    <div class="row">
                        <small>what is the capital of france?</small>
                        <small>what is 100 + 1.9?</small>
                        <small>What is the largest number? 1.1 or 1.9?</small>
                    </div>
                    <div class="row">
                        <div id="responseContainer"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $('#sendUserMessageBtn').on('click', function(event) {
            event.preventDefault();
            let message = $('#userMessage').val();

            $.ajax({
                url: '{{ path('chatgpt_request_url') }}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ message: message }),
                success: function(response) {
                    let responseText = "";
                    if (response['choices'] === undefined) {
                        responseText = response['error'];
                        showResponse(responseText);
                    } else {
                        responseText = JSON.parse(response['choices'][0]['message']['content']);
                        showResponse(responseText['result']);
                    }
                },
                error: function(xhr, status, error) {
                    showAlert('Error! Failed to send data.', 'danger');
                },
                complete: function() {
                    // Clear the textarea after request completion
                    $('#userMessage').val('');
                }
            });
        });

        function showResponse(responseText) {
            let responseHtml = `
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Response</h5>
                        <p class="card-text">${responseText}</p>
                    </div>
                </div>`;

            // Append the response to the container
            $("#responseContainer").html(responseHtml);
        }

        function showAlert(message, type) {
            let alertHtml = `
                <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                    ${message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
            $("#alertContainer").html(alertHtml);

            setTimeout(function() {
                $(".alert").alert('close');
            }, 5000);
        }

    </script>
{% endblock %}

