<div class="modal fade" id="addNewRowModal" tabindex="-1" aria-labelledby="addNewRowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addNewRowModalLabel">New row</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addNewRowForm">
                    {% for column in columns %}
                        <div class="mb-3">
                            <label for="{{ column }}" class="col-form-label">{{ column }}</label>
                            <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" />
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div id="liveAlertPlaceholder"></div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary text-left" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="saveBtn">Save</button>
            </div>
        </div>
    </div>
</div>
