{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                {% for column in columns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            console.log( "ready!" );
        });
    </script>
{% endblock %}
